<a href="https://colab.research.google.com/github/Ashish1999Kumar/Deep-learning/blob/master/postman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls
import pandas as pd

sample_data

In [0]:
from google.colab import files

In [4]:
uploaded = files.upload()

Saving sales_data.csv to sales_data.csv
Saving date.csv to date.csv

In [5]:
!ls

date.csv  sales_data.csv  sample_data

In [6]:
!rm 'open?id=1yWCS_54VsT1ksuCX137kdeUJ9HQ_ImMc'

rm: cannot remove 'open?id=1yWCS_54VsT1ksuCX137kdeUJ9HQ_ImMc': No such file or directory

In [7]:
!ls

date.csv  sales_data.csv  sample_data

In [0]:
df=pd.read_csv('sales_data.csv')

In [9]:
df.head()

  transaction id product id  ... customer id  transaction country
0         536365     85123A  ...     17850.0       United Kingdom
1         536365      71053  ...     17850.0       United Kingdom
2         536365     84406B  ...     17850.0       United Kingdom
3         536365     84029G  ...     17850.0       United Kingdom
4         536365     84029E  ...     17850.0       United Kingdom

[5 rows x 8 columns]

In [0]:
df1=df.drop(['product description'],axis=1)

In [18]:
df1

       transaction id product id  ...  transaction country       timestamp
0              536365     85123A  ...       United Kingdom  01/12/10 08:26
1              536365      71053  ...       United Kingdom  01/12/10 08:26
2              536365     84406B  ...       United Kingdom  01/12/10 08:26
3              536365     84029G  ...       United Kingdom  01/12/10 08:26
4              536365     84029E  ...       United Kingdom  01/12/10 08:26
5              536365      22752  ...       United Kingdom  01/12/10 08:26
6              536365      21730  ...       United Kingdom  01/12/10 08:26
7              536366      22633  ...       United Kingdom  01/12/10 08:28
8              536366      22632  ...       United Kingdom  01/12/10 08:28
9              536367      84879  ...       United Kingdom  01/12/10 08:34
10             536367      22745  ...       United Kingdom  01/12/10 08:34
11             536367      22748  ...       United Kingdom  01/12/10 08:34
12             536367      22749  ...       United Kingdom  01/12/10 08:34
13             536367      22310  ...       United Kingdom  01/12/10 08:34
14             536367      84969  ...       United Kingdom  01/12/10 08:34
15             536367      22623  ...       United Kingdom  01/12/10 08:34
16             536367      22622  ...       United Kingdom  01/12/10 08:34
17             536367      21754  ...       United Kingdom  01/12/10 08:34
18             536367      21755  ...       United Kingdom  01/12/10 08:34
19             536367      21777  ...       United Kingdom  01/12/10 08:34
20             536367      48187  ...       United Kingdom  01/12/10 08:34
21             536368      22960  ...       United Kingdom  01/12/10 08:34
22             536368      22913  ...       United Kingdom  01/12/10 08:34
23             536368      22912  ...       United Kingdom  01/12/10 08:34
24             536368      22914  ...       United Kingdom  01/12/10 08:34
25             536369      21756  ...       United Kingdom  01/12/10 08:35
26             536370      22728  ...               France  01/12/10 08:45
27             536370      22727  ...               France  01/12/10 08:45
28             536370      22726  ...               France  01/12/10 08:45
29             536370      21724  ...               France  01/12/10 08:45
...               ...        ...  ...                  ...             ...
541879         581585      22726  ...       United Kingdom  09/12/11 12:31
541880         581585      22727  ...       United Kingdom  09/12/11 12:31
541881         581585      16016  ...       United Kingdom  09/12/11 12:31
541882         581585      21916  ...       United Kingdom  09/12/11 12:31
541883         581585      84692  ...       United Kingdom  09/12/11 12:31
541884         581585      84946  ...       United Kingdom  09/12/11 12:31
541885         581585      21684  ...       United Kingdom  09/12/11 12:31
541886         581585      22398  ...       United Kingdom  09/12/11 12:31
541887         581585      23328  ...       United Kingdom  09/12/11 12:31
541888         581585      23145  ...       United Kingdom  09/12/11 12:31
541889         581585      22466  ...       United Kingdom  09/12/11 12:31
541890         581586      22061  ...       United Kingdom  09/12/11 12:49
541891         581586      23275  ...       United Kingdom  09/12/11 12:49
541892         581586      21217  ...       United Kingdom  09/12/11 12:49
541893         581586      20685  ...       United Kingdom  09/12/11 12:49
541894         581587      22631  ...               France  09/12/11 12:50
541895         581587      22556  ...               France  09/12/11 12:50
541896         581587      22555  ...               France  09/12/11 12:50
541897         581587      22728  ...               France  09/12/11 12:50
541898         581587      22727  ...               France  09/12/11 12:50
541899         581587      22726  ...               France  09/12/11 12:50
541900         581587      22730  ...               France  09/12/11 12:50
541901         581587      22367  ...               France  09/12/11 12:50
541902         581587      22629  ...               France  09/12/11 12:50
541903         581587      23256  ...               France  09/12/11 12:50
541904         581587      22613  ...               France  09/12/11 12:50
541905         581587      22899  ...               France  09/12/11 12:50
541906         581587      23254  ...               France  09/12/11 12:50
541907         581587      23255  ...               France  09/12/11 12:50
541908         581587      22138  ...               France  09/12/11 12:50

[541909 rows x 8 columns]

In [0]:
date=pd.read_csv('date.csv')

In [0]:
df1['timestamp']=df1['transaction timestamp']
df2=df1.drop(['transaction timestamp'],axis=1)

In [0]:
date['timestamp']=date['timestamp              ']
date1=date.drop(['timestamp              '],axis=1)

In [0]:
new_df=pd.merge(df2,date1,on='timestamp')

In [0]:
new_df=new_df.drop_duplicates()

In [22]:
new_df.shape

(536639, 12)

In [0]:
import re

In [0]:
new_df=new_df[~new_df['transaction id'].str.startswith("C")]

In [47]:
new_df.shape

(527388, 12)

In [0]:
new_df1=new_df[new_df['quantity sold']>=0]

new_df1 is the one without negative quantity sold

In [58]:
new_df1['sales']=new_df1['quantity sold']*new_df1['unit price']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
import matplotlib.pyplot as plt